#list-comment{
	max-height		:500px;
	border-top		:0;	
}
.comment{
	padding			:5px;
	padding-bottom	:7px;
}
.comment .name{
	font-family		:"LGB";
}
.avatar{
	float			:left;
	margin-top		:2px;
	margin-right	:10px;
	border: 1px solid #fff;
}
div.comment p.row-actions :hover {
}