<div class="redactor_content_padding">
<form id="redactorUploadFileForm" method="post" action="" enctype="multipart/form-data">
	<input type="file" id="redactor_file" name="file" />
</form>
<br style="clear: both;"/>
</div>
