html{
	height				:100%;
	padding-bottom		:1px;
}
*{
	padding				:0;
	margin				:0
}

p{
	margin				:10px 0;
}
a{
	color				:#4d6da5;
	background-color	:none;
	text-decoration		:none;
}
a:hover{
	color				:#4284B0;
	background-color	:none; 
	text-decoration		:underline;
}
h1{
	font-size			:12px; 
	color				:#3b59aa;
}
h2{
	font-size			:1.2em;
	text-transform		:uppercase;
}
h3{
	font-size			:1.2em;
}
h4{
	font-size			:1.2em;
	color				:#572C83;
	text-align			:center;
}
ul,ol{
	color				:#4284B0;
}
ul span,ol span{
	color				:#666;
}
tr,td{
	padding				:1px;
}
img{
	border				:0 solid #CCC;
}
img.no-border{
	border				:none;
}
img.float-right{
	margin				:5px 0 5px 5px;
}
img.float-left{
	margin				:5px 5px 5px 0;
}
code{
	margin				:5px 0;
	padding				:10px;
	text-align			:left;
	display				:block;
	overflow			:auto;
	border				:1px solid #f2f2f2;
	border-left			:4px solid #4284B0;
}
acronym{
	border-bottom		:1px solid #777;
}
form1{
	margin:10px;
	padding:5px;
	border:1px solid #e6e6e6;
	background-color:#FAFAFA
}
input{
	padding:1px;
	padding-top:2px;
	padding-bottom:2px;
}
select{
	padding:1px;
}
textarea{	
	padding				:1px;
	height				:100px;
	display				:block;
}
fieldset{
	padding				:5px 2px;
	border				:1px solid #ccc;
}
file{
	padding				:5px;
	padding				:1px;
}
.bdr_tb{
	background-color	:#fff;
}
.bdr_tb tr{
	border				:1px solid #f0f0f0;
}
.bdr_tb td{
	border				:1px solid #f0f0f0;
	padding				:2px;
}
.bdr_tb tr:hover{
	border				:1px solid #fff;
	background			:#ffd;
}
.mouseover{
	min-height			:300px;
	max-height			:400px;
	color				:#000;
	border				:1px solid #d1d1d1;
	background			:#fff;
	font-family			:'courier new', monospace;
	text-align			:left;
	display				:block;
}
#elm1,#elm2{
	width				:100%;
	min-height			:250px;
	max-height			:400px;
}
.form_edit,.mouseoverout{
	min-height			:300px;
	max-height			:400px;
	color				:#777;
	border				:1px solid #d1d1d1;
	background			:#fff;
	font-family			:'courier new',monospace;
	text-align			:left;
	display				:block;
}
.red{
	color				:red;
}
.green{
	color				:green;
}
.blue{
	color				:blue;
}
.yblue{
	color				:#4eb6f2;
}
.yellow{
	color				:yellow;
}
.orange{
	color				:orange;
}
.gray{
	color				:#BFBFBF
}
/* alignment classes */
.float-left{
	float				:left
}
.float-right{
	float				:right
}
.align-left{
	text-align			:left
}
.align-right{
	text-align			:right
}
.align-justify{
	text-align			:justify
}
.align-center{
	text-align			:center
}
.clear{
	clear				:both
}
.req{
	color				:#f30
}
#loaderHidden{
   visibility:hidden;
}
#f1_upload_form {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
}

#f1_upload_process{
   z-index:100;
   visibility:hidden;
   position:absolute;
   text-align:center;
   width:400px;
}