.mlmenu{
	margin-bottom:10px;
}
.mlmenu.horizontal{
	z-index				:999999;
	margin				:0 -1px 0 0;
	padding				:0;
	list-style			:none;
	background			:url(../images/menu.png) repeat-x; 
	height				:35px;
	width				:950px;
	margin-top			:130px;
}
.mlmenu.horizontal ul li a{
	float				:left;
	display				:block;
	background			:transparent;
	padding				:0 10px; 
	margin-left			:1px; 
	margin-right		:1px; 
	color				:#4284b0;
	border-right		:1px solid #fff
}
/* 7. Vertical Menu */
.home{ background:#f9fafa url(../images/home-small.gif) no-repeat 2px 7px !important; }
.vertical ul{ width:100%; border-top:1px solid #e6e6e6; }
.vertical li a{ display:block; background:#f9fafa url(../images/arrow_right.gif) no-repeat 2px 6px; padding:6px 10px 6px 17px; text-decoration:none; font-size:1em; font-weight:bold; color:#222; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; border-bottom:1px solid #e6e6e6; }
.vertical li a:hover{ color:#16387c; text-decoration:none; }
.vertical li{ display:inline; }
.vertical li ul{ position:absolute; margin:-31px 0px 0px 159px; }

/* 8. Horizontal Menu */
.horizontal ul{ position: absolute; z-index: 999999;display:block; list-style-type:none; top: 190px; left:5px; }
.horizontal li{ float:left; display:inline; background:none; padding:0px; list-style:none; }
.horizontal li a{ float:left; display:block; padding:0px 10px 0px 10px; text-decoration:none; border-left:none; font-weight:bold; color: #fff; }
.horizontal li li{ background:none !important; }
.horizontal li li a{ padding:6px 10px; line-height:16px; border-top:none; border-bottom:1px solid #e6e6e6; }
.horizontal li ul{ display:block; background:#f9fafa; position:absolute; width:134px; top:10px; height:auto; margin-top:20px; margin-left:-1px; border-top:1px solid #e6e6e6; border-left:1px solid #e6e6e6; border-right:1px solid #e6e6e6; }
.horizontal li li ul{ position:absolute; margin-top:.1em; margin-left:100px; }
.horizontal li ul li a{ width:114px; color:#000; }
.inaccesible li ul{ display:none; }